:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-grey: #f3f5f7;
  --color-light-grey-hover: #ebebeb;
  --color-medium-grey: #d5d5d5;

  --color-accent-pink: #ba8871;
  --color-accent-orange: #b6613c;
  --color-accent-orange-hover: #ce8e75;
  --color-accent-green: #677a5a;

  --color-light-blue: #87a5a3;
  --color-dark-blue: #3e525d;
  --color-dark-blue-hover: #333c43;

  --color-green: #dbeccc;
  --color-green-dark: #85c481;

  --color-blue: #d2e8f2;
  --color-blue-dark: #77b4df;

  --color-pink: #eddbd9;
  --color-pink-dark: #e77f7b;

  --color-purple: #dbd8f3;
  --color-purple-dark: #827eda;

  --border-radius-1: 0.5rem;
  --border-radius-2: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Albert Sans', sans-serif;
}


.App {
  margin: 0;
  overflow: hidden;

}

/* 
  LOGIN AND REGISTER PAGES
*/

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  flex: 1;
  max-width: 500px;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  height: 100vh;

}

.form-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container h2 {
  margin-bottom: 1.5rem;
}

.form-container p {
  margin-top: 1.5rem;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  display: flex;
  max-width: 550px;
}

.form-container label {
  margin: 1.5rem 0 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.form-container input {
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius-1);
  border: none;
}

.form-container button {
  font-size: 1rem;
  padding: 15px;
  background-color: var(--color-dark-blue);
  border-radius: var(--border-radius-1);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: all 300ms ease;
}

.form-container button:hover {
  background-color: var(--color-dark-blue-hover);
}


/* 
  USER DASHBOARD PAGE 
*/
.page-container-user {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-card);

}

.App-nav {
  flex: 1;
  max-width: 250px;
  height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue-hover);
  border-radius: 0 2rem 2rem 0;
}

.App-nav a,
.App-nav span {
  padding: 0.5rem 1rem;
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.1rem;
  box-sizing: border-box;
  transition: all 300ms ease;
}

.App-nav a:hover,
.App-nav span:hover {
  box-sizing: border-box;
  color: var(--color-light-blue);
}

.nav-username {
  padding: 1rem;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 300;
  color: var(--color-light-blue);
}

.App-nav span:last-child {
  cursor: pointer;
}

.nav-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-bottom {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.App-nav h2 {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: bold;
  margin-bottom: 1rem;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}


.active-link {
  background-color: red;
}

.App-content {
  flex: 1;
  margin: 0;
  padding: 4rem 5rem;
  margin: 0 auto 0 0;
  overflow: auto;
}

.App-content h1 {
  padding: 1rem 0;
}

.max-width-content {
  max-width: 1400px;
}

.user-overview,
.user-goals {
  padding: 0;
  margin: 2rem 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.card {
  width: 100%;
  padding: 1.5rem;
  /* height: 200px; */
  height: auto;
  align-items: center;
  border-radius: var(--border-radius-1);
  background-color: var(--color-light-grey);
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 300ms ease;
}

.card p {
  font-weight: 600;
  font-size: 2rem;
}

.card h3 {
  font-weight: 300;
  font-size: 1.2rem;
}

.card-budget h3 {
  font-weight: 500;
  font-size: 1.3rem;
}

.card-full-width {
  height: auto;
  background-image: url('./images/48.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-white);
  margin: 2rem 0;
}

.card-graph {
  font-weight: 300;
  font-size: 1.1rem;
  transition: all 300ms ease;
}


/* 
  GOALS COMPONENT
*/
.user-goals {
  margin-top: 2rem;
}

.user-goals h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* 
  BUDGET PAGE
*/
.budget-component {
  padding: 0;
  margin: 2rem 0;
  box-sizing: border-box;
}

.card-budget {
  height: auto;
}


.date-picker {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--color-accent-green);
  padding: 1.5rem 1rem;
  border-radius: var(--border-radius-1);
  margin: 2rem 0;
  background-image: url('./images/51.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-white);
  align-items: center;
}

.date-picker span {
  font-size: 1.5rem;
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

select {
  border: none;
  border-radius: var(--border-radius-1);
  background-color: var(--color-card);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* 
  TABLES 
*/
table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0 0 1rem 0;
}

tr,
th,
td {
  text-align: left;
  padding: 0.75rem 0.75rem;
}

th {
  font-weight: 500;
  border-bottom: 1px solid var(--color-light-blue);
}

td {
  font-weight: 400;
  border-bottom: 1px solid var(--color-light-blue);
  color: var(--color-dark-blue);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.item-header {
  width: 65%;
}

.cost-header {
  width: 25%;
}

.action-header {
  width: 10%;
}

.add-item-header {
  width: 65%;
}

.add-cost-header {
  width: 35%;
}

.add-item-input-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.add-item-input-container input {
  padding: 1rem;
  border: none;
  box-sizing: border-box;
  border-radius: var(--border-radius-1);
}

.add-item-span-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.add-span {
  color: var(--color-accent-orange);
  transition: all 300ms ease;
  cursor: pointer;
}

.add-span:hover {
  color: var(--color-accent-orange-hover);
}

.cancel-span {
  color: var(--color-dark-blue);
  transition: all 300ms ease;
  cursor: pointer;
}

.cancel-span:hover {
  color: var(--color-dark-blue-hover);
}

.delete-icon {
  cursor: pointer;
  transition: all 300ms;
  color: var(--color-accent-orange);
}

.delete-icon:hover {
  color: var(--color-accent-orange-hover);
}

/* 
  PROGRESS BAR 
*/
.expense-meter {
  width: 100%;
  height: 30px;
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius-1);
  margin: 0.5rem 0;
  position: relative;
}

.expense-indicator {
  height: 100%;
  border-radius: 5px;
  position: relative;
  background-image: url('./images/51.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.over-budget {
  background-image: url('./images/51.jpg');
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-light-grey);
  white-space: nowrap;
}


/* 
  ICONS 
*/
.icon {
  width: 2rem !important;
  height: 2rem !important;
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 5px;
  margin-bottom: 1rem;
}

.icon-income {
  background-color: var(--color-green);
  color: var(--color-green-dark);
}

.icon-housing {
  background-color: var(--color-blue);
  color: var(--color-blue-dark);
}

.icon-recurring {
  background-color: var(--color-pink);
  color: var(--color-pink-dark);
}

.icon-additional {
  background-color: var(--color-purple);
  color: var(--color-purple-dark);
}



/* 
  MEDIA QUERIES
*/
@media(max-width: 1080px) {
  .image-container {
    display: none;
  }

  .form-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 450px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .card-container {
    flex-wrap: wrap;
  }

  .label {
    display: none;
  }

  .item-header {
    width: 75%;
  }

  .cost-header {
    width: 15%;
  }

  .action-header {
    width: 10%;
  }

  .add-item-header {
    width: 70%;
  }
  
  .add-cost-header {
    width: 30%;
  }
}

/* 
  INCOME EXPENSES GRAPH 
*/
.income-expenses-graph {
  width: 100%;
}


@media(max-width: 769px) {
  .App-nav {
    max-width: 75px;
    padding: 3rem 0;
  }

  .App-nav a, .App-nav span {
    padding: 0rem;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .nav-top h2 {
    display: none;
    margin: 0;
  }

  .nav-top {
    gap: 2rem;
  }

  .nav-link-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .nav-link-container p,
  .nav-username {
    display: none;
  }

  .App-content {
    padding: 3rem 1rem;
  }

  .App-content h1 {
    padding: 0;
  }

  .add-item-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .item-header {
    width: 100%;
  }

  .cost-header {
    width: 100%;
  }

  .add-item-header {
    width: 100%;
  }
  
  .add-cost-header {
    width: 100%;
  }
}